<a href="https://colab.research.google.com/github/kelvingamedev/trabalho_pandas_qads/blob/main/trabalho_pandas_qads.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lista Pandas - Desempenho dos Alunos GDF

O dataset analisado aqui descreve o desempenho dos alunos da rede pública do Distrito Federal. Nele encontramos as notas bimestrais de todas as matérias oferecidas a cada aluno do GDF, juntamente com informações básicas sobre a escola, o curso e a série do aluno. A fonte dos dados é o portal de dados abertos do GDF.

Utilize o dataset para responder as questões abaixo. Coloque sua solução somente dentro do espaço delimitado para a resposta e não altere nenhum outro código disponibilizado. As bibliotecas para a resolução de todos os problemas já foram importadas na célula abaixo.

Obs.: Caso alguma delas não esteja instalada no seu ambiente execute o processo de instalção através de !pip install <nome_da_biblioteca>

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import requests as r
from zipfile import ZipFile
import io

import warnings
warnings.filterwarnings('ignore')

In [4]:
def get_data(rows=None,download=True) -> pd.core.frame.DataFrame:
    
    """ get_data(rows: int=None, download: bool=True) -> pandas.core.frame.DataFrame:
        
        - Retorna os dados para serem utilizados na resolução da lista. 
        - Utilize o parâmetro 'download' caso você já possua os dados na sua pasta de trabalho.
        
        
        ** Parâmetros **
        ________________
        
        rows : quantidade de linhas a serem lidas no dataset, padrão é None e representa todo o dataset.
        download : define se a função executará o processo de download e extração dos dados, padrão True.
        
        ** Exemplos **
        ________________
        
        >> df = get_data(rows=100)
        >> df.shape
        >> (100,23)
        
        
        >> df = get_data(rows=578)
        >> df.shape
        >> (578,23)
        
    """
    
    if download == True:
            
        file_zipped = r.get('http://dados.df.gov.br/dataset/b8436049-44e7-4224-95b4-224718a4b166/resource/3e654a9d-0647-4e39-930e-7cd07faec888/download/dados-abertos---desempenho-escolar20180515160111.zip')  
        z = ZipFile(io.BytesIO(file_zipped.content))
        z.extractall('.')
    
    return pd.read_csv('dados abertos - desempenho escolar_20180515_160111.csv',sep=';',encoding='latin-1',nrows=rows)

In [5]:
df = get_data()

4. Levando em consideração somente os alunos do curso "Ensino Médio". Demonstre a porcentagem de alunos que obtiveram notas finais maiores ou iguais a 8 em Química, Física e Biologia, por coordenação Regional.

5. Qual coordenação regional tem a maior quantidade de alunos matriculados no turno diurno do curso "Ensino Médio".Considere somente as coordenações regionais que possuem um número acima da média de aprovados.

6. Considerando somente alunos do curso "Ensino Médio". Os alunos do turno diurno perfomam melhor que os alunos do turno noturno nas matérias de química, física e biologia. (Verdadeiro ou Falso, demonstre com dados).

1. Quantos alunos diferentes estão matriculados no curso "Ensino Médio"?

In [6]:
df.head()

   cod_coordenacao_regional  ... faltas_justificadas_globalizadas
0                         3  ...                              NaN
1                         3  ...                              NaN
2                         3  ...                              NaN
3                         3  ...                              NaN
4                         3  ...                              NaN

[5 rows x 23 columns]

In [7]:
df.cod_serie.isna().sum()

0

In [8]:
df.serie.isna().sum()

0

In [9]:
df.cod_serie.unique()

array([ 8,  9, 10, 11, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35, 36, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 53, 56, 57, 58, 59, 60, 83, 84])

In [10]:
df[["cod_serie", "serie", "escola"]].groupby('cod_serie', group_keys=False).apply(lambda df: df.sample(1))

          cod_serie  ...                                             escola
989568            8  ...      CENTRO DE ENSINO FUNDAMENTAL 427 DE SAMAMBAIA
3071279           9  ...         Centro Educacional 308 do Recanto das Emas
3726070          10  ...                   CENTRO DE ENSINO FUNDAMENTAL GAN
6286036          11  ...               CENTRO DE ENSINO FUNDAMENTAL 214 SUL
6850127          16  ...  Centro de Ensino Fundamental 02 do Riacho Fund...
6852147          17  ...         Centro de Ensino Fundamental 03 do Paranoá
6855762          18  ...         Centro de Ensino Fundamental 03 do Paranoá
6863638          19  ...       CENTRO EDUCACIONAL POMPÍLIO MARQUES DE SOUZA
8562279          20  ...                CENTRO EDUCACIONAL 01 DE PLANALTINA
9014839          21  ...                Centro Educacional 619 de Samambaia
11366786         22  ...            CENTRO DE ENSINO MÉDIO 02 DE PLANALTINA
11557153         23  ...                 CENTRO EDUCACIONAL 15 DE CEILÂNDIA
11785905         24  ...                  Centro de Ensino Médio 02 do Gama
11863801         25  ...                  CENTRO DE ENSINO MÉDIO AVE BRANCA
11987993         26  ...                   ESCOLA CLASSE 203 DE SANTA MARIA
12097148         27  ...                     ESCOLA CLASSE 27 DE TAGUATINGA
12313491         28  ...                     Escola Classe 502 de Samambaia
12340528         29  ...                              ESCOLA CLASSE ASPALHA
12452529         30  ...                   ESCOLA CLASSE 100 DE SANTA MARIA
12556800         31  ...         CENTRO DE EDUCAÇÃO INFANTIL 01 DE BRASÍLIA
12556947         32  ...         CENTRO DE EDUCAÇÃO INFANTIL 01 DE BRASÍLIA
12557361         33  ...                        Caic Carlos Castello Branco
12558374         34  ...                                  CAIC ALBERT SABIN
12586473         35  ...                      Escola Classe 31 de Ceilândia
12667165         36  ...                      ESCOLA CLASSE 22 DE CEILÂNDIA
12730592         42  ...             Centro de Educação Infantil 01 do Gama
12730770         43  ...       CENTRO DE EDUCAÇÃO INFANTIL 04 DE TAGUATINGA
12732897         44  ...                     ESCOLA CLASSE 54 DE TAGUATINGA
12735267         45  ...                           Caic Assis Chateaubriand
12735767         46  ...                           ESCOLA CLASSE 15 DO GAMA
12735913         47  ...                CAIC PROFESSOR WALTER JOSÉ DE MOURA
12735979         48  ...                   CENTRO DE ENSINO FUNDAMENTAL GAN
12736391         49  ...            Centro de Ensino Fundamental 04 do Gama
12737031         50  ...                 CENTRO EDUCACIONAL 07 DE CEILÂNDIA
12737169         51  ...                CENTRO EDUCACIONAL 03 DE SOBRADINHO
12737180         53  ...         CENTRO DE ENSINO MÉDIO 01 DE SÃO SEBASTIÃO
12737230         56  ...                  CENTRO EDUCACIONAL SÃO BARTOLOMEU
12737296         57  ...         CENTRO EDUCACIONAL 104 DO RECANTO DAS EMAS
12738521         58  ...         CENTRO EDUCACIONAL 104 DO RECANTO DAS EMAS
12755261         59  ...         CENTRO EDUCACIONAL 104 DO RECANTO DAS EMAS
12765947         60  ...         CENTRO EDUCACIONAL 104 DO RECANTO DAS EMAS
12777575         83  ...         CENTRO EDUCACIONAL 104 DO RECANTO DAS EMAS
12778266         84  ...         CENTRO EDUCACIONAL 104 DO RECANTO DAS EMAS

[43 rows x 3 columns]

In [11]:
df_ensino_medio = df[df.cod_serie.isin([20, 21, 22, 23, 24, 25, 53, 58, 59, 60, 83, 84])]

In [12]:
f"Alunos diferentes matriculados no ensino médio: {len(df_ensino_medio.cod_aluno.value_counts())}"

'Alunos diferentes matriculados no ensino médio: 82536'

2. Levando em consideração somente os alunos do curso "Ensino Médio". Descreva a porcentagem de alunos que foram aprovados e reprovados (aluno aprovado é aquele que tirou 5 ou mais como nota final em todas as matérias cursadas) por série.

In [13]:
df_ensino_medio.bimestre.unique()

array(['1', '2', '3', '4', 'resultado final'], dtype=object)

In [14]:
df_ensino_medio.bimestre.isna().sum()

0

In [15]:
df_ensino_medio[df.bimestre == "resultado final"].nota_bimestral.isna().sum()

0

In [16]:
def foi_aprovado(df):
  return all(df[df.bimestre == "resultado final"].nota_bimestral >= 5.0)

In [17]:
aprovados_ensino_medio = df_ensino_medio.groupby("cod_aluno", group_keys = False).apply(foi_aprovado)

In [18]:
df_ensino_medio["aprovado"] = df_ensino_medio.cod_aluno.map(lambda x: aprovados_ensino_medio[x])

In [19]:
def percentual_aprovados_reprovados(df):
  n = len(df)
  n_aprovado = sum(df["aprovado"])
  percentual_aprovado = (n_aprovado / n) * 100
  percentual_desaprovado = (abs(100.0 - percentual_aprovado)) 
  return f"Aprovados: {round(percentual_aprovado, 2)}% | Reprovados {round(percentual_desaprovado, 2)}%"

In [20]:
df_ensino_medio.drop_duplicates('cod_aluno').groupby("serie", group_keys = False).apply(percentual_aprovados_reprovados)

serie
1ª Série                         Aprovados: 42.94% | Reprovados 57.06%
1ª Série EM Especial               Aprovados: 100.0% | Reprovados 0.0%
2ª Série                         Aprovados: 40.21% | Reprovados 59.79%
3ª Série                         Aprovados: 48.27% | Reprovados 51.73%
3º Ciclo - Bloco 1               Aprovados: 28.71% | Reprovados 71.29%
3º Ciclo - Bloco 2               Aprovados: 48.41% | Reprovados 51.59%
Bloco Ensino Médio - 1ª série    Aprovados: 66.67% | Reprovados 33.33%
Bloco Ensino Médio - 2ª série    Aprovados: 81.67% | Reprovados 18.33%
Bloco Ensino Médio - 3ª série    Aprovados: 73.33% | Reprovados 26.67%
dtype: object

3. As coordenações regionais são instituições que cuidam das escolas públicas de uma determinada região. Busque dados populacionais de cada coordenação regional e demonstre se há alguma correlação entra a quantidade de alunos de cada coordenação e a população daquela cidade satélite.

In [147]:
populacao_por_regiao_df = pd.read_html ('https://pt.wikipedia.org/wiki/Lista_de_regi%C3%B5es_administrativas_do_Distrito_Federal_por_popula%C3%A7%C3%A3o', index_col = 1)[0].drop("Posição",axis=1)

In [37]:
df.coordenacao_regional =  df.coordenacao_regional.str.replace("CRE - ", "")

In [40]:
quantidade_de_alunos_cre = df[["coordenacao_regional", "cod_aluno"]].groupby("coordenacao_regional", group_keys=alse)["cod_aluno"].nunique()F

In [157]:
regioes_df = quantidade_de_alunos_cre.to_frame().rename(columns = {"cod_aluno": "quantidade_de_alunos"}).reset_index()

In [168]:
def get_int(a_string):
  return (int) ("".join([word for word in a_string.split() if word.isdigit()]))

In [170]:
regioes_df["populacao"] = regioes_df.coordenacao_regional.apply(lambda x: get_int(populacao_por_regiao_df.loc[x, "População"]))

In [173]:
regioes_df.quantidade_de_alunos.corr(regioes_df.populacao)

0.9377201802754349

0.9 é uma correlação muito forte, sendo assim, quanto maior o número de alunos de uma determinada região, maior é a população daquela região. Isso, entretanto, não é suficiente para dizer uma coisa causa a outra