<a href="https://colab.research.google.com/github/kelvingamedev/trabalho_pandas_qads/blob/main/trabalho_pandas_qads.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lista Pandas - Desempenho dos Alunos GDF

O dataset analisado aqui descreve o desempenho dos alunos da rede pública do Distrito Federal. Nele encontramos as notas bimestrais de todas as matérias oferecidas a cada aluno do GDF, juntamente com informações básicas sobre a escola, o curso e a série do aluno. A fonte dos dados é o portal de dados abertos do GDF.

Utilize o dataset para responder as questões abaixo. Coloque sua solução somente dentro do espaço delimitado para a resposta e não altere nenhum outro código disponibilizado. As bibliotecas para a resolução de todos os problemas já foram importadas na célula abaixo.

Obs.: Caso alguma delas não esteja instalada no seu ambiente execute o processo de instalção através de !pip install <nome_da_biblioteca>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import requests as r
from zipfile import ZipFile
import io

import warnings
warnings.filterwarnings('ignore')

In [3]:
def get_data(rows=None,download=True) -> pd.core.frame.DataFrame:
    
    """ get_data(rows: int=None, download: bool=True) -> pandas.core.frame.DataFrame:
        
        - Retorna os dados para serem utilizados na resolução da lista. 
        - Utilize o parâmetro 'download' caso você já possua os dados na sua pasta de trabalho.
        
        
        ** Parâmetros **
        ________________
        
        rows : quantidade de linhas a serem lidas no dataset, padrão é None e representa todo o dataset.
        download : define se a função executará o processo de download e extração dos dados, padrão True.
        
        ** Exemplos **
        ________________
        
        >> df = get_data(rows=100)
        >> df.shape
        >> (100,23)
        
        
        >> df = get_data(rows=578)
        >> df.shape
        >> (578,23)
        
    """
    
    if download == True:
            
        file_zipped = r.get('http://dados.df.gov.br/dataset/b8436049-44e7-4224-95b4-224718a4b166/resource/3e654a9d-0647-4e39-930e-7cd07faec888/download/dados-abertos---desempenho-escolar20180515160111.zip')  
        z = ZipFile(io.BytesIO(file_zipped.content))
        z.extractall('.')
    
    return pd.read_csv('dados abertos - desempenho escolar_20180515_160111.csv',sep=';',encoding='latin-1',nrows=rows)

In [4]:
df = get_data()

3. As coordenações regionais são instituições que cuidam das escolas públicas de uma determinada região. Busque dados populacionais de cada coordenação regional e demonstre se há alguma correlação entra a quantidade de alunos de cada coordenação e a população daquela cidade satélite.

4. Levando em consideração somente os alunos do curso "Ensino Médio". Demonstre a porcentagem de alunos que obtiveram notas finais maiores ou iguais a 8 em Química, Física e Biologia, por coordenação Regional.

5. Qual coordenação regional tem a maior quantidade de alunos matriculados no turno diurno do curso "Ensino Médio".Considere somente as coordenações regionais que possuem um número acima da média de aprovados.

6. Considerando somente alunos do curso "Ensino Médio". Os alunos do turno diurno perfomam melhor que os alunos do turno noturno nas matérias de química, física e biologia. (Verdadeiro ou Falso, demonstre com dados).

1. Quantos alunos diferentes estão matriculados no curso "Ensino Médio"?

In [30]:
df.head()

   cod_coordenacao_regional  ... faltas_justificadas_globalizadas
0                         3  ...                              NaN
1                         3  ...                              NaN
2                         3  ...                              NaN
3                         3  ...                              NaN
4                         3  ...                              NaN

[5 rows x 23 columns]

In [6]:
df.cod_serie.isna().sum()

0

In [8]:
df.serie.isna().sum()

0

In [9]:
df.cod_serie.unique()

array([ 8,  9, 10, 11, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35, 36, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 53, 56, 57, 58, 59, 60, 83, 84])

In [25]:
df[["cod_serie", "serie", "escola"]].groupby('cod_serie', group_keys=False).apply(lambda df: df.sample(1))

          cod_serie  ...                                             escola
883984            8  ...      CENTRO DE ENSINO FUNDAMENTAL 404 DE SAMAMBAIA
2518569           9  ...      Centro de Ensino Fundamental 04 de Planaltina
4594837          10  ...    CENTRO DE ENSINO FUNDAMENTAL 213 DE SANTA MARIA
6102217          11  ...         CENTRO DE ENSINO FUNDAMENTAL 01 DO PARANOÁ
6848771          16  ...         Centro de Ensino Fundamental 03 do Paranoá
6850879          17  ...         Centro de Ensino Fundamental 03 do Paranoá
6857715          18  ...       CENTRO EDUCACIONAL POMPÍLIO MARQUES DE SOUZA
6860396          19  ...         Centro de Ensino Fundamental 03 do Paranoá
7453813          20  ...                  CENTRO DE ENSINO MÉDIO AVE BRANCA
9680535          21  ...             Centro de Ensino Médio 10 de Ceilândia
10937280         22  ...             Centro de Ensino Médio 02 de Ceilândia
11587993         23  ...                     CENTRO EDUCACIONAL CASA GRANDE
11823752         24  ...                CENTRO EDUCACIONAL 01 DA ESTRUTURAL
11861024         25  ...                           CENTRO EDUCACIONAL GISNO
12010805         26  ...                  CAIC JÚLIA KUBITSCHEK DE OLIVEIRA
12164239         27  ...                Escola Classe 02 do Riacho Fundo II
12301412         28  ...                      ESCOLA CLASSE 01 DO ARAPOANGA
12387044         29  ...                                 CAIC SANTA PAULINA
12442262         30  ...                     ESCOLA CLASSE 15 DE SOBRADINHO
12556806         31  ...         CENTRO DE EDUCAÇÃO INFANTIL 01 DE BRASÍLIA
12556881         32  ...         CENTRO DE EDUCAÇÃO INFANTIL 01 DE BRASÍLIA
12557164         33  ...        CAIC Professor  Benedito Carlos de Oliveira
12558987         34  ...                        Caic Carlos Castello Branco
12610281         35  ...                          ESCOLA CLASSE VALE DO SOL
12649046         36  ...                       JARDIM DE INFÂNCIA 302 NORTE
12730634         42  ...       Centro de Educação Infantil 01 de Brazlândia
12730869         43  ...           Jardim de Infância 01 do Riacho Fundo II
12732522         44  ...                              ESCOLA CLASSE 410 SUL
12735051         45  ...             CENTRO DE ENSINO FUNDAMENTAL DO BOSQUE
12735625         46  ...                CENTRO EDUCACIONAL 03 DE SOBRADINHO
12735937         47  ...                      ESCOLA CLASSE 64 DE CEILÂNDIA
12735976         48  ...                   CENTRO DE ENSINO FUNDAMENTAL GAN
12736288         49  ...       Centro de Ensino Fundamental 07 de Ceilândia
12737123         50  ...                 CENTRO EDUCACIONAL 07 DE CEILÂNDIA
12737169         51  ...                CENTRO EDUCACIONAL 03 DE SOBRADINHO
12737196         53  ...         CENTRO DE ENSINO MÉDIO 01 DE SÃO SEBASTIÃO
12737241         56  ...                  CENTRO EDUCACIONAL SÃO BARTOLOMEU
12737404         57  ...  Centro Educacional Stella dos Cherubins Guimar...
12742413         58  ...  Centro Educacional Stella dos Cherubins Guimar...
12758330         59  ...  Centro Educacional Stella dos Cherubins Guimar...
12773340         60  ...                  CENTRO EDUCACIONAL SÃO BARTOLOMEU
12776008         83  ...         CENTRO EDUCACIONAL 104 DO RECANTO DAS EMAS
12778465         84  ...         CENTRO EDUCACIONAL 104 DO RECANTO DAS EMAS

[43 rows x 3 columns]

In [26]:
df_ensino_medio = df[df.cod_serie.isin([20, 21, 22, 23, 24, 25, 53, 58, 59, 60, 83, 84])]

In [71]:
f"Alunos diferentes matriculados no ensino médio: {len(df_ensino_medio.cod_aluno.value_counts())}"

'Alunos diferentes matriculados no ensino médio: 82536'

2. Levando em consideração somente os alunos do curso "Ensino Médio". Descreva a porcentagem de alunos que foram aprovados e reprovados (aluno aprovado é aquele que tirou 5 ou mais como nota final em todas as matérias cursadas) por série.

In [62]:
df_ensino_medio.bimestre.unique()

array(['1', '2', '3', '4', 'resultado final'], dtype=object)

In [74]:
df_ensino_medio.bimestre.isna().sum()

0

In [78]:
df_ensino_medio[df.bimestre == "resultado final"].nota_bimestral.isna().sum()

0

In [126]:
def foi_aprovado(df):
  return all(df[df.bimestre == "resultado final"].nota_bimestral >= 5.0)

In [132]:
aprovados_ensino_medio = df_ensino_medio.groupby("cod_aluno", group_keys = False).apply(foi_aprovado)

In [137]:
df_ensino_medio["aprovado"] = df_ensino_medio.cod_aluno.map(lambda x: aprovados_ensino_medio[x])

In [166]:
def percentual_aprovados_reprovados(df):
  n = len(df)
  n_aprovado = sum(df["aprovado"])
  percentual_aprovado = (n_aprovado / n) * 100
  percentual_desaprovado = (abs(100.0 - percentual_aprovado)) 
  return f"Aprovados: {round(percentual_aprovado, 2)}% | Reprovados {round(percentual_desaprovado, 2)}%"

In [167]:
df_ensino_medio.drop_duplicates('cod_aluno').groupby("serie", group_keys = False).apply(percentual_aprovados_reprovados)

serie
1ª Série                         Aprovados: 42.94% | Reprovados 57.06%
1ª Série EM Especial               Aprovados: 100.0% | Reprovados 0.0%
2ª Série                         Aprovados: 40.21% | Reprovados 59.79%
3ª Série                         Aprovados: 48.27% | Reprovados 51.73%
3º Ciclo - Bloco 1               Aprovados: 28.71% | Reprovados 71.29%
3º Ciclo - Bloco 2               Aprovados: 48.41% | Reprovados 51.59%
Bloco Ensino Médio - 1ª série    Aprovados: 66.67% | Reprovados 33.33%
Bloco Ensino Médio - 2ª série    Aprovados: 81.67% | Reprovados 18.33%
Bloco Ensino Médio - 3ª série    Aprovados: 73.33% | Reprovados 26.67%
dtype: object

cod_aluno
-9222644519466710544    False
-9222529196612115370     True
-9222315045875238055     True
-9221925063589591595    False
-9221882012413132674     True
                        ...
 9221396502265603763    False
 9221552084735750989     True
 9221709859008778696     True
 9222955310115100993    False
 9223293934285108139    False
Length: 82536, dtype: bool

array(['1', '2', '3', '4', 'resultado final'], dtype=object)